{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h2>Découvrez nos destinations les plus incontournables</h2>
    <div class="gallery">
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/séjour linguistique à Londre.jpg') }}" alt="Londres">
                        <div class="overlay">Londres, Angleterre</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/le havre.jpg') }}" alt="Le Havre, France">
                        <div class="overlay">Le Havre, France</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/etretat.jpg') }}" alt="Etretat, France">
                        <div class="overlay">Etretat, France</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/alger.jpg') }}" alt="Alger, Algérie">
                        <div class="overlay">Alger, Algérie</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/marseille.jpg') }}"  alt="Marseille, France">
                        <div class="overlay">Marseille, France</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/nice.jpg') }}"  alt="Nice, France">
                        <div class="overlay">Nice, France</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/oran.jpg') }}" alt="Oran, Algérie">
                        <div class="overlay">Oran, Algérie</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/paris.jpg') }}" alt="Paris, France">
                        <div class="overlay">Paris, France</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/saint sebastian.jpg') }}"  alt="Saint Sebastian, Espagne">
                        <div class="overlay">Saint Sebastian, Espagne</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/sydney.jpg') }}" alt="Sydney, Australie">
                        <div class="overlay">Sydney, Australie</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/tigzirt.jpg') }}"  alt="Tigzirt, Algérie">
                        <div class="overlay">Tigzirt, Algérie</div>
                    </div>
                    <div class="gallery-item">
                        <img src="{{ asset('img/travels/toronto.jpg') }}"  alt="Toronto, Canada">
                        <div class="overlay">Toronto, Canada</div>
                    </div>
                    <div class="gallery-item">
                         <img src="{{ asset('img/travels/dubai.jpg') }}"  alt="Dubai, Emirats Arabes Unis">
                     <div class="overlay">Dubai, Emirats Arabes Unis</div>
                    </div>
                        <div class="gallery-item">
                            <img src="{{ asset('img/travels/gizeh.jpg') }}"  alt="Gizeh, Egypte">
                            <div class="overlay">Gizeh, Egypte</div>
                        </div>
                        <div class="gallery-item">
                            <img src="{{ asset('img/travels/hamamet.jpg') }}"  alt="Hammamet, Tunisie">
                            <div class="overlay">Hammamet, Tunisie</div>
                        </div>
                        <div class="gallery-item">
                            <img src="{{ asset('img/travels/istanbul.jpg') }}"  alt="Istanbul, Turquie">
                            <div class="overlay">Istanbul, Turquie</div>
                        </div>
                         <div class="gallery-item">
                             <img src="{{ asset('img/travels/berlin.jpg') }}"  alt="Berlin, Allemagne">
                             <div class="overlay">Berlin, Allemagne</div>
                        </div>
                        <div class="gallery-item">
                             <img src="{{ asset('img/travels/venise.jpg') }}"  alt="Venise, Italie">
                              <div class="overlay">Venise, Italie</div>
                        </div>

    </div>
{% endblock %}

{% block title %} {{ parent() }} | Home{% endblock %}

