{% extends "base.html.twig" %}

{% block title %}Liste des voyages{% endblock %}

{% block body %}

    <section class="travels-list">
        {% for travel in travels %}
            <article>
                <a href="{{ path('travel_details',{'id':travel.id}) }}"
                   title="View travel's details | {{travel.description }} ">
                    <img src="{{ asset( 'img/travels/' ~ travel.photo) }}" alt="{{ travel.nom }}">
                    <p>{{ travel.nom }}</p>
                </a>
            </article>
        {% endfor %}
    </section>

{% endblock %}