{% extends 'base.html.twig' %}

{% block title %}
    {{ travel.nom }} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="travel-details">
        <div>
            <img src="{{ asset ('img/travels/' ~ travel.photo) }}" alt="{{ travel.nom}}">
        </div>

        <div class="travel-details-infos">
            <h2>{{ travel.nom }} </h2>
            <div> Description : {{ travel.description }}</div>
            <div> Nombre de places : {{ travel.maxInscriptions }}</div>
            <div> Date limite d'inscription : {{ travel.registrationDeadLine | date("Y-m-d") }}</div>
            <div>Date de départ : {{ travel.startDate|date("Y-m-d") }} </div>
            <div>Date de retour : {{ travel.endDate|date("Y-m-d") }}</div>
            <div>Etat : {{ travel.etat }}</div>
            <div> Prix par personne : {{ travel.price }} € </div>

            <div class="container-btn">
            {% if app.user %}
            <button><a href="{{ path('inscription_travel', { 'id': travel.id }) }}" class="btn btn-primary">S'inscrire</a></button>
                <form class="desinscription" method="post" action="{{ path('desinscription_travel', {id: travel.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir vous désinscrire de ce voyage ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('desinscription' ~ travel.id) }}">
                    <button type="submit">Se désinscrire</button></form>
                <button><a href="{{ path('user_travels') }}">Mes voyages</a></button>

                {% if is_granted("ROLE_ADMIN") %}
                    <button><a href="{{ path('admin_travels_edit', { 'id': travel.id }) }}" class="btn btn-primary">Modifier</a></button>
                    <button><a href="{{ path("admin_travels_users", {'id': travel.id}) }}"> Voyageurs</a></button>

                    <form class="delete" method="post" action="{{ path('admin_travels_travel.delete', {id: travel.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce voyage ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ travel.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Supprimer</button>
                    </form>
                {% endif %}
            {% endif %}
            </div>


        </div>
    </div>
{% endblock %}


