<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Said Travel Services{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="icon" href="{{ asset('img/icon.png') }}">

    {% block extrastyles %} {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body>
    <header>
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/icon.png') }}" alt="Agence Said Travel Services!">Said Travel Services</a></h1>
        {% include('inc/nav.html.twig') %}
    </header>
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div>&copy; {{ "now"|date("d-m-Y")  }}  Said Travel Services!</div>
    </footer>
</body>
</html>

