{% extends 'base.html.twig' %}

{% block title %}Liste des invités{% endblock %}

{% block body %}
    <h1>Tableau des invités</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date et heure du rendez vous</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invite in invites %}
            <tr>
                <td>{{ invite.id }}</td>
                <td>{{ invite.firstName }}</td>
                <td>{{ invite.lastName }}</td>
                <td>{{ invite.appointmentTime|date("d-m-y h:m:s")}}</td>
                <td>
                    <button><a href="{{ path('app_admin_invite_show', {'id': invite.id}) }}">Afficher</a></button>
                    <button><a href="{{ path('app_admin_invite_edit', {'id': invite.id}) }}">Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button><a href="{{ path('app_admin_invite_new') }}">Créer</a></button>
{% endblock %}
